@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regulr.ttf);
}

@font-face {
    font-family: 'Kaushan Script';
    src: url(../fonts/KaushanScript.ttf);
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../fonts/montserrat_bold.ttf);
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../fonts/Roboto-LightItalic.ttf);
}