
// Helpers
@import './helpers/variable.scss';
@import './helpers/mixins.scss';

//Base style
@import './base/fonts.scss';
@import './base/typography.scss';

//Main page layout
@import './layout/header.scss';
@import './layout/footer.scss';

//Components
@import './components/intro.scss';
@import './components/content.scss';



html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1201px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  @include bg-image(
      $path: '../images/intro-banner.png', 
      $size: cover, 
      $repeat: no-repeat, 
      $pos: center);
      height: 100vh;
}

/* coomon style */
.names__span, .intro-heading-sm {
    display: block;
}

.underline, .box-sm-goods {
    position: relative;
}


 /* end coomon style */